.tour-details {
    text-align: center;
  }
  
  .tour-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:rgb(7, 25, 82) ;

  }
  
  .tour-details .tour-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .tour-details .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .tour-details .toggle-button {
    /* background-color: #eaeaea; */
    background-color: rgb(53, 162, 159);
    border: 1px solid;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
  }
  
