.home {
    background-color: rgb(7, 25, 82);
    color: rgb(151, 254, 237);
    padding: 20px;
}

.homeCardDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* text-decoration: none; */
}

.card{
    text-decoration: none;
}

.card:hover  {
    background-color: rgba(11, 102, 106,0.2);
    color: #fff;
    transform: scale(1.05);
}